.github
.idea
.vagrant
/vendor
/node_modules
/public
!.gitignore

#AsgardCMS specific
!/Modules/Pearlskin
/Modules
!/Themes/Pearlskin
/Themes

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/